.head {
    text-align: center;
    font-style: italic;
}
.first {
    position: absolute;
    width: 380px;
    top: 115px;
}
.second {
    position: absolute;
    width: 640px;
    top: 115px;
    left: 400px;
}
.third {
    width: 400px;
    position: absolute;
    left: 640px;
}
.fourth {
    position: absolute;
    width: 380px;
    top: 385px;
}
.fifth {
    position: absolute;
    width: 260px;
    top: 720px;
    left: 400px;
}
.sixth {
    position: absolute;
    width: 350px;
    top: 720px;
    left: 680px;
}